@import "tailwindcss";

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    background: #f0f2f5;
  }
}
